[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mongoengine = "*"
pendulum = "*"
flask = "*"
lazy = "*"
nemosis = "*"
dnspython = "*"
gunicorn = "*"
seaborn = "*"
bokeh = "*"
palettable = "*"
strsim = "*"
scipy = "*"
opennempy = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
