<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>JENGA</title>
    <meta name="description" content="Bid Stack Explorer">

    <link rel="stylesheet" href="static/styles/index.css">
    <link rel="stylesheet" href="static/styles/bidstack.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet"> 
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
    <script src="static/js/lib/moment.min.js"></script>
    <script src="static/js/lib/palette.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    

</head>

<body>
    <div class="content">
        
        <!-- <price-chart></price-chart> -->
        
        <!-- <stack-explorer></stack-explorer> -->
        <bidstack></bidstack>
    </div>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="static/js/lib/jquery.min.js"></script>
    <script src="static/js/bidstack.js"></script>
    <script src="static/js/index.js"></script>
</body>

</html>