<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bid Stack Explorer</title>
  <meta name="description" content="Bid Stack Explorer">
  

  <link rel="stylesheet" href="static/styles/index.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">

</head>

<body>
    <div class="content">
        <h1>Bid Stack Explorer</h1>
        <price-chart></price-chart>
        <stack-explorer></stack-explorer>
    </div>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    
    <script src="static/js/index.js"></script>
</body>

</html>