body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
    /* background-color:red; */
}

.selectors{
    display:flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;

}

#prices{
    width:100%;
    height:100%;
}

.price-chart{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:99vh !important;
}

.price-chart .ct-point{
    visibility: hidden;
}

.price-chart .ct-grid{
    visibility: hidden;
}

.price-chart .ct-line{
    stroke-width:0.1em;
}

.price-chart{
    height:40vh;
}

.price-chart .ct-chart{
    height:100%;
}














